#startContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

#endGameDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}